.Rectangle{
    width: 100%;
    height: 100%;
    margin-left: 6%;
}


.bloc{
    display: inline-block;
    margin: 1% 3% 2% auto;
    width: 30%;
    border-style: groove;
    border-color: rgb(48, 43, 43);
}

.filmSortie{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: dashed solid;
    padding: 2%;
    width: 96%;
    background-color: rgb(219, 219, 219);
}

.serieSortie{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
    border-style: dashed solid;
    padding: 2%;
    width: 99%;
    background-color: rgb(219, 219, 219);
}

.stars{
    margin: auto;
    text-align: center;
}

.titre{
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    border: none;
    font-size: inherit;
    padding: none;
}

.textImage{
    display: flex;
    flex: 0 1 auto;
}

.btnfav{
    background-color: rgb(201, 201, 182);
    font-size: 90%;
    border-radius: 10px;
}