
html, body, #root{
    font-family: "Lato", sans-serif;
    height: 100%;
}

/************** ACCUEIL **************/
.PageAccueil{
    min-height: 100%;
	overflow: hidden;
	display: flex;
    flex-direction: column;
}

.container_page{
    height: 100%;
    padding-top: 0.5%;
    overflow: auto;
}



/************* PROFIL **************/
.PageProfil{
    min-height: 100%;
    background-image: url(favorite.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14%;
}

#leftbox {
    float: left;
}

.text{
    padding: 25px;
}

.favorisBox{
    padding:2%;
}


/************* MESSAGES *************/

.new_message{
    float: top;
    margin: 3%;
}
.comment{
    float: right;
    margin: 1%;
}

.date, .corbeille{
    float: right;
}

.comments-group{
    margin-top: 2%;
    margin-bottom: 2%;
}

/************** LOGIN ****************/
.PageLogin{
    min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    background: #f39c12 !important;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: 20%;
    margin-bottom: auto;
    background:#272623;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
}

.form_container {
    margin-top: 10%;
}

.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}


