.searchPage{
    height: 100%;
    width: 100%;
}

.affiches{
    display: inline-block;
    border-style: solid;
    margin: 4% 4% auto 2%;

}

.backimage{
    
}

.description{
    display: inline-block;
    margin: auto auto auto 2%;
    width: 40%;
    text-align: center;

}