.searchPage{
    background-color: beige;
    height: 100%;
    width: 100%;
}

.affiches{
    display: inline-block;
    height: 25%;
    width: 15%;
    border-style: solid;
    margin: 5% auto 5% 5%;
    background-color: darkred;
}

.description{
    display: inline-block;
    margin: auto auto auto 2%;
    width: 40%;
    text-align: center;

}