.searchPage{
    height: 100%;
    width: 100%;
}

.affiches{
    border-style: solid;
    margin: 4% 4% auto 2%;
    padding: 2%;
}



.description{
    margin: auto auto auto 2%;
    width: 60%;
    text-align: center;
    float: right;

}